body{
    padding: o;
    margin: o;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    
    
}

/* the nav bar */

nav .topnav {
    
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }

  
  /* ul */
  
  nav .topnav #navTopbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav #navTopbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
   .topnav #navTopbar a.active {
    background-color: rgb(63, 45, 6);
    color: white;
  }
  /* jumbotron */
  
  .jumbotron{
    text-align: center;
  }
  
  /* about section
   */

  .row{
    text-align: center;
    font-size: large;
  }

  

  /* table section */

  .row #col-md-6{
    padding-top: 30px;
  }

/* footer */

.footer{
  padding: 0px;
  margin-top: 20px;
  color: #ec7070;
  background-color: #bdb2af;
  text-align: center;
  width: 100%;
}
  
  /* Media query */
  @media screen and (max-width: 760px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 760px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }